:root {
    /* --primary: #3ABEFF; */
    --primary: #0096E0;
    /* --secondary: #00F5D4; */
    --background: #0F0F0F;
    --alt-background: #292929;
    --border: #9E00FF;
    /* --text: #CFCFCF; */
    --text: #858484;
    --text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body {
    background-color: var(--background);
    /* margin: 0; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
}

header h1 {
    font-family: "Press Start 2P", sans-serif;
}

header img {
    width: 100px;
    height: auto;
    object-fit: cover;
    /* float: left; */
}

main {
    display: block;
    margin: 10px auto;
    max-width: 1000px;
    padding: .5rem;
    font-family: 'Funnel Display', sans-serif;
    background-color: var(--text);
    border-radius: 20px;
    /* margin-top: 10px; */

}

.page-header {
    text-align: center;
}

.page-header h2 {
    font-family: 'Audiowide', sans-serif;
    font-size:xx-large;
    color: var(--primary);
    text-shadow: var(--text-shadow);
}

.form {
    max-width: 600px;
    margin: 0 auto;
}

.connect fieldset {
    border: 2px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--alt-background);
    color: var(--primary);
    font-weight: 500;
    max-width: 90%;
    margin: 0 auto;
}

.connect label {
    display: block;
    font-size: .9rem;
    padding-top: .5rem;
    margin-top: 10px;
}

.connect input[type="text"],
.connect input[type="email"],
.connect textarea {
    display: block;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border:  1px solid var(--background);
    border-radius: 6px;
    margin-top: 8px;
}

.connect input[type="radio"] {
    margin-right: 6px;
}

.connect button {
    background-color: var(--alt-background);
    border: none;
    color: var(--border);
    font-weight: bold;
}

.connect button:hover {
    cursor: pointer;
}

.connect input:required {
    border-left: solid 8px red;
}

.connect input:required:valid {
    border-left: solid 8px green;
}

.connect input[type="submit"] {
    border: none;
    background-color: var(--background-color);
    background-image: linear-gradient(var(--border), var(--primary));
    color: var(--background);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    margin: 1.5rem 0% 1rem 0%;
    font-size: 1.5rem;
}

.connect input[type="submit"]:hover {
    background-image: linear-gradient(var(--primary), var(--border));
    /* color: var(--alt-background); */
    cursor: pointer;
}

header, footer {
    background: linear-gradient(45deg, var(--border), var(--primary));
    color: var(--background);
    text-align: center;
    padding: 10px;
    min-height: 80px;
}

#menuButton::before {
    content: "☰";
}

#menuButton.open::before {
    content: "X";
}

#menuButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 4vw;
}

ul.navigation {
    list-style: none;
    background-color: var(--alt-background);
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.navigation li, a {
    padding: 1rem;
    text-align: center;
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
}

.navigation a:hover {
    text-decoration: underline;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    width: 100%;
    grid-column: 1 /-1;
    transition: grid-template-rows 0.5s ease-out;
}

nav.open {
    grid-template-rows: 1fr;
}

ul.navigation li.active a {
    background-color: rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
   #menuButton {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
        grid-column: auto;
        position: static;
        width: auto;
        background-color: var(--alt-background);
    }

    ul.navigation, ul.navigation.open {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background-color: var(--primary-color);
        justify-content: flex-start;
        width: auto;
    }

    ul.navigation li,
    ul.navigation a {
        padding: 1rem 1.5rem;
        text-align: left;
    }
}

