:root {
    /* --primary: #3ABEFF; */
    --primary: #0096E0;
    /* --secondary: #00F5D4; */
    --background: #0F0F0F;
    --alt-background: #292929;
    --border: #9E00FF;
    /* --text: #CFCFCF; */
    --text: #858484;
}

body {
    background-color: var(--background);
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
}

header img {
    width: 100px;
    height: auto;
    object-fit: cover;
    float: left;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: .5rem;
    font-family: 'Funnel Display', sans-serif;
    text-align: center;
    font-size: large;
    /* font-weight: 550; */
}

.section-divider {
    background-color: var(--border);
    border: none;
    margin: 2rem auto;
    transition: all 0.3s ease;
    height: 2px;
    width: 80%;
}

section {
    background-color: var(--text);
    color: var(--background);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* font-weight: 100; */
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

section p {
    font-weight: 400;
    text-shadow: none;
}

h1 {
    color: var(--background);
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 600;
}

h2, figcaption {
    font-family: 'Audiowide', sans-serif;
    color: var(--primary);
}

figure img {
    width: 400px;
    height: auto;
    max-width: 600px;
}

.wireframe {
    background-color: var(--alt-background);
}

.wireframe div {
    display: grid;
    justify-content: center;
}

.wireframe figure {
    border: 2px solid var(--border);
    padding: 10px;
}
.wireframe img {
    width: 200px;
    height: auto;
    cursor: pointer;
}

header, footer {
    background: linear-gradient(45deg, var(--border), var(--primary));
    color: var(--background);
    text-align: center;
    padding: 10px;
}

.primary {
    background-color: var(--primary);
}

.alt {
    background-color: var(--alt-background);
    color: var(--text);
}

.text {
    border: 2px solid var(--background);
    color: var(--background);
}

.background {
    background-color: var(--background);
    color: var(--text);
}

.border {
    background-color: var(--border);
}

.color-schema {
    margin: 0 auto;
}

.header-font {
    font-family: 'Press Start 2P', sans-serif;
}

.body-font {
    font-size: x-large;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay img {
  transform: scale(3.0);
  box-shadow: 0 0 20px #000;
  border: 4px solid white;
}

.overlay.hidden {
  display: none;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}
